# Visual Studio files
.vs/
bin/
obj/
Debug/
Release/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# NuGet packages
packages/
*.nupkg

# Logs
*.log
